@import url(/assets/fonts/fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.like:hover .like-child {
  fill: #f3426c;
  transition: all 0.2s ease-in-out;
}
